.frame-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.frame-container.fullScreen {
  background-color: rgba(0,0,0,0.54);
  justify-content: center;
  align-items: center;
}

@media only screen and (min-device-width: 321px) {
  .frame-container.bottomSheet {
    justify-content: flex-end;
    align-items: center;
  }

  .frame-container .picker {
    margin-top: 16px;
    margin-right: 16px;
    width: 304px;
    height: 304px;
  }
}

.failed {
  background-color: #F44336;
  color: white;
  font-size: 90vmin;
  text-align: center;
  user-select: none;
  flex-grow: 1;
}

.picker {
  border: 1px solid #d9d9d9;
  background-color: white;
}

.frame-container.fullScreen .picker {
  width: 320px;
  max-width: 90%;
}

.picker header {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 16px;
}

.picker header md-icon {
  vertical-align: middle;
}

.picker .credential {
  display: flex;
  height: 72px;
  flex-direction: row;
  align-items: center;
}

.picker .credential:hover {
  background-color: #B3E5FC;
}

.picker .credential:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.picker .credential .avatar {
  margin-left: 16px;
  width: 40px;
  height: 40px;
}

.picker .credential .descriptor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  margin-left: 16px;
}

.picker .credential .descriptor .first-line {
  font-size: 14px;
  color: rgba(0,0,0,0.87);
}

.picker .credential .descriptor .second-line {
  font-size: 12px;
  color: rgba(0,0,0,0.54);
}

.picker .credential .continue {
  color: rgba(0,0,0,0.87);
}
