
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 8px;
}

.auth-methods {
  margin-bottom: 16px;
}

.auth-methods header {
  margin-bottom: 8px;
  text-align: center;
}

.auth-methods .mat-button-toggle:not(:last-child) {
  border-right: 1px solid #999;
}

.auth-methods .mat-button-toggle:not(.mat-button-toggle-checked) {
  background-color: #EEEEEE;
}
.auth-methods .mat-button-toggle-checked {
  background-color: #C5E1A5;
}

.id-token-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.id-token-options header {
  margin-bottom: 8px;
  text-align: center;
}

.id-token-options md-input-container {
  margin: 8px 0;
}

.custom-id-token-options {
  display: flex;
  flex-direction: column;
}

.results {
  margin: 16px;
}

.results .progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: rgba(0,0,0,0.54);
}

.results .progress md-progress-spinner {
  width: 48px;
  height: 48px;
}

.results .error h3 {
  text-align: center;
}

.results .error div {
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 8px;
}

.results .error .code {
  color: #b71c1c;
}

.results .credential-table {
  border: 1px solid #999;
  max-width: 75vw;
}

.results .credential-table td {
  max-width: 50vw;
  overflow-wrap: break-word;
}

.results .credential-table th, .results .credential-table td {
  text-align: left;
  padding: 4px;
  margin: 0;
}
