<md-toolbar color="primary">
  <span>OpenYOLO Test App</span>
  <span style="flex: 1 1 auto"></span>
  <button md-icon-button aria-label="Settings" (click)="showSettings()">
    <md-icon svgIcon="settings"></md-icon>
  </button>
</md-toolbar>

<md-tab-group>
  <md-tab label="HINT">
    <app-hint-tester></app-hint-tester>
  </md-tab>
  <md-tab label="RETRIEVE">
    <app-retrieve-tester></app-retrieve-tester>
  </md-tab>
  <md-tab label="SAVE">
    <app-save-tester></app-save-tester>
  </md-tab>
</md-tab-group>
